<!DOCTYPE html>
<html>
<head>
    <title>Inside the Grid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="center-container">

    <!-- Logo Circle -->
    <div class="logo-circle"></div>

    <!-- Navigation Buttons -->
    <div class="nav-vertical">
        <a href="{{ url_for('home') }}" class="nav-button">HOME</a>
        <a href="" class="nav-button">CATALOG</a>
        <a href="" class="nav-button">CONTACT US</a>
    </div>

    <!-- Social Circle -->
    <div class="social-circle"></div>

</div>

</body>
</html>